<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Sleepycatfuji"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/kimxukim/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/duangrudee.kim/"><i class="fab fa-facebook-square"></i></a>
    <a href="https://www.linkedin.com/in/duangrudee-m"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
