<div class="py-2 mx-2">
  <h1>Portfolio</h1>
    &nbsp;
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://res.cloudinary.com/dqmy4wjvz/image/upload/v1648377574/TraQ_dsvble.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">TraQ</h5>
            <p class="card-text">Emergency Tracking and Response Made Simple</p>
            <a href="https://www.traq.info/" class="btn btn-primary">View Site</a>
            <div>
              <img src="https://img.shields.io/badge/-Ruby%20on%20Rails-CC000?logo=ruby%20on%20rails&logoColor=white&style=badge" alt="rails badge"/>
              <img src="https://img.shields.io/badge/-MySQL-4479A1?logo=MySQL&logoColor=white&style=badge" alt="MySQL badge"/>
              <img src="https://img.shields.io/badge/-Ruby-CC342D?logo=ruby&logoColor=white&style=badge" alt="ruby badge"/>
              <img src="https://img.shields.io/badge/-ngrok-1F1E37?logo=ngrok&logoColor=white&style=badge" alt="ngrok badge"/>
              <img src="https://img.shields.io/badge/-Stimulus-77E8B9?logo=stimulus&logoColor=white&style=badge" alt="Stimulus badge"/>
              <img src="https://img.shields.io/badge/-JavaScript-F7DF1E?logo=javascript&logoColor=white&style=badge" alt="JS badge"/>
              <img src="https://img.shields.io/badge/-mapbox-000000?logo=mapbox&logoColor=white&style=badge" alt="mapbox badge"/>
              <img src="https://img.shields.io/badge/-html5-E34F26?logo=mapbox&logoColor=white&style=badge" alt="HTML badge"/>
              <img src="https://img.shields.io/badge/-sass-CC6699?logo=mapbox&logoColor=white&style=badge" alt="Sass badge"/>
              <img src="https://img.shields.io/badge/-bootstrap-7952B3?logo=mapbox&logoColor=white&style=badge" alt="Bootstrap badge"/>
              <img src="https://img.shields.io/badge/-trello-0052CC?logo=mapbox&logoColor=white&style=badge" alt="Trello badge"/>
              <img src="https://img.shields.io/badge/-figma-F24E1E?logo=mapbox&logoColor=white&style=badge" alt="Figma badge"/>
              <img src="https://img.shields.io/badge/-heroku-430098?logo=mapbox&logoColor=white&style=badge" alt="Heroku badge"/>
              <img src="https://img.shields.io/badge/-github-181717?logo=mapbox&logoColor=white&style=badge" alt="Github badge"/>
            </div>
          </div>
        </div>
      </div>
    <div class="col">
        <div class="card" style="width: 18rem height:18rem;">
          <img src="https://res.cloudinary.com/dqmy4wjvz/image/upload/v1648377566/13-MacBook_Pro_Mockups_zgh8vp.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Happy Tours</h5>
              <p class="card-text">Connecting You To Local Breweries</p>
              <a href="https://happy-tour-795.herokuapp.com/" class="btn btn-primary">View Site</a>
              <div>
                <img src="https://img.shields.io/badge/-Ruby%20on%20Rails-CC000?logo=ruby%20on%20rails&logoColor=white&style=badge" alt="rails badge"/>
                <img src="https://img.shields.io/badge/-MySQL-4479A1?logo=MySQL&logoColor=white&style=badge" alt="MySQL badge"/>
                <img src="https://img.shields.io/badge/-Ruby-CC342D?logo=ruby&logoColor=white&style=badge" alt="ruby badge"/>
                <img src="https://img.shields.io/badge/-JavaScript-F7DF1E?logo=javascript&logoColor=white&style=badge" alt="JS badge"/>
                <img src="https://img.shields.io/badge/-Stimulus-77E8B9?logo=stimulus&logoColor=white&style=badge" alt="Stimulus badge"/>
                <img src="https://img.shields.io/badge/-mapbox-000000?logo=mapbox&logoColor=white&style=badge" alt="mapbox badge"/>
                <img src="https://img.shields.io/badge/-html5-E34F26?logo=mapbox&logoColor=white&style=badge" alt="HTML badge"/>
                <img src="https://img.shields.io/badge/-sass-CC6699?logo=sass&logoColor=white&style=badge" alt="Sass badge"/>
                <img src="https://img.shields.io/badge/-bootstrap-7952B3?logo=mapbox&logoColor=white&style=badge" alt="Bootstrap badge"/>
                <img src="https://img.shields.io/badge/-trello-0052CC?logo=mapbox&logoColor=white&style=badge" alt="Trello badge"/>
                <img src="https://img.shields.io/badge/-figma-F24E1E?logo=mapbox&logoColor=white&style=badge" alt="Figma badge"/>
                <img src="https://img.shields.io/badge/-heroku-430098?logo=mapbox&logoColor=white&style=badge" alt="Heroku badge"/>
                <img src="https://img.shields.io/badge/-github-181717?logo=mapbox&logoColor=white&style=badge" alt="Github badge"/>
              </div>
          </div>
        </div>
    </div>
    </div>
  </div>
&nbsp;


  <div class="container">
    <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://res.cloudinary.com/dqmy4wjvz/image/upload/v1649220024/Screen_Shot_2022-04-06_at_13.40.00_gfie4k.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Simple Profile</h5>
                <p class="card-text">A profile page written in HTML and CSS</p>
                <a href="https://sleepycatfuji.github.io/Kimprofile/" class="btn btn-primary">View Site</a>
                  <div>
                    <img src="https://img.shields.io/badge/-html5-E34F26?logo=mapbox&logoColor=white&style=badge" alt="HTML badge"/>
                    <img src="https://img.shields.io/badge/-css3-1572B6?logo=css3&logoColor=white&style=badge" alt="Css badge"/>
                    <img src="https://img.shields.io/badge/-github-181717?logo=mapbox&logoColor=white&style=badge" alt="Github badge"/>
                  </div>
            </div>
          </div>
        </div>
    <div class="col">
      <div class="card" style="width: 18rem height:18rem;">
        <img src="https://res.cloudinary.com/dqmy4wjvz/image/upload/v1649314561/Screen_Shot_2022-04-07_at_15.54.33_oydxf4.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Save the Turtles</h5>
              <p class="card-text">Call to action page using Vanilla HTML and CSS</p>
              <a href="https://sleepycatfuji.github.io/turtles/" class="btn btn-primary">View Site</a>
              <div>
                <img src="https://img.shields.io/badge/-html5-E34F26?logo=mapbox&logoColor=white&style=badge" alt="HTML badge"/>
                <img src="https://img.shields.io/badge/-css3-1572B6?logo=css3&logoColor=white&style=badge" alt="Css badge"/>
                <img src="https://img.shields.io/badge/-bootstrap-7952B3?logo=mapbox&logoColor=white&style=badge" alt="Bootstrap badge"/>
                <img src="https://img.shields.io/badge/-github-181717?logo=mapbox&logoColor=white&style=badge" alt="Github badge"/>
              </div>
          </div>
      </div>
    </div>
    </div>
  </div>
  &nbsp;
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://res.cloudinary.com/dqmy4wjvz/image/upload/v1649404335/Screen_Shot_2022-04-08_at_16.51.35_sxf0ce.png" class="card-img-top" alt="Nobel prize screenshot">
              <div class="card-body">
                <h5 class="card-title">Nobel Prizes</h5>
                  <p class="card-text">Looping through an API containing all Nobel prize winners from 1901-2018</p>
                  <a href="https://sleepycatfuji.github.io/Nobels/" class="btn btn-primary">View Site</a>
                    <div>
                      <img src="https://img.shields.io/badge/-JavaScript-F7DF1E?logo=javascript&logoColor=white&style=badge" alt="JS badge"/>
                      <img src="https://img.shields.io/badge/-html5-E34F26?logo=mapbox&logoColor=white&style=badge" alt="HTML badge"/>
                      <img src="https://img.shields.io/badge/-css3-1572B6?logo=css3&logoColor=white&style=badge" alt="Css badge"/>
                      <img src="https://img.shields.io/badge/-github-181717?logo=mapbox&logoColor=white&style=badge" alt="Github badge"/>
                      </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
  &nbsp;
