
  <h1>Kim Methakullachat</h1>
  <p>Project Manager with IT background</p>
<div class="container">
 <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner bg-dark">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dqmy4wjvz/image/upload/w_300,h_300,c_fill/big_profile.jpg" class="d-block">
      <div class="carousel-caption d-none d-md-block">
        <h5>My Favourite Things</h5>
        <ul>Tomatoes</ul>
        <ul>Hummus</ul>
        <ul>Summer BBQ</ul>
        <ul>Picnics</ul>
        <ul>Baking</ul>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dqmy4wjvz/image/upload/w_300,h_300,c_fill/TraQ_dsvble.jpg" class="d-block">
      <div class="carousel-caption d-none d-md-block">
        <h5>TraQ</h5>
        <ul>
        <li> Connects NGOs to people in time of emergency</li>
        <li>Connects people to nearby shelters and NGO</li>
        </ul>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dqmy4wjvz/image/upload/w_300,h_300,c_fill/20-MacBook_Pro_Mockups_oeikco.jpg" class="d-block">
      <div class="carousel-caption d-none d-md-block">
        <h5>Happy Tours</h5>
        <ul>
        <li>Connects local breweries to tourists.</li>
        <li>Connects people to local breweries.</li></>
        </ul>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
