<div class="py-3 mx-5 bg-dark text-white">
<div class="container">
<h1>My Portfolio</h1>
  &nbsp;
<div class="container">
  <div class="row">
    <div class="col">
<div class="card" style="width: 18rem;">
  <img src="https://res.cloudinary.com/dqmy4wjvz/image/upload/v1648377574/TraQ_dsvble.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">TraQ</h5>
    <p class="card-text">Emergency Tracking and Response Made Simple</p>
    <a href="https://www.traq.info/" class="btn btn-primary">Visit TraQ</a>
  </div>
</div>
    </div>
    <div class="col">
<div class="card" style="width: 18rem height:18rem;">
  <img src="https://res.cloudinary.com/dqmy4wjvz/image/upload/v1648377566/13-MacBook_Pro_Mockups_zgh8vp.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Happy Tours</h5>
    <p class="card-text">Connecting You To Local Breweries</p>
    <a href="https://happy-tour-795.herokuapp.com/" class="btn btn-primary">Visit Happy Tours</a>
  </div>
</div>
    </div>
  </div>
</div>
</div>
</div>
